<a href="https://colab.research.google.com/github/belladu0201/Deep_RL_Recommender_System/blob/main/H%26M_EDA_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
## mount the drive
from google.colab import drive
drive.mount('/content/drive')
PROJ_DIR = '/content/drive/MyDrive/HM/'
%cd $PROJ_DIR
! ls

In [ ]:
# Mount Google Drive folder
from google.colab import drive
drive.mount('/content/drive')
PROJ_DIR = '/content/drive/MyDrive/Colab Notebooks/AIPI 531/Final Project/SA2C_code/HM/'
# change current directory after mounting
%cd $PROJ_DIR
! ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/.shortcut-targets-by-id/1HIjrgz2KrB4wLCZasrYeKTXkE-b6--I_/HM
 data			       replay_buffer.py
'H&M_EDA_articles.ipynb'       report_SNQN_FeatureVec.txt
'H&M_EDA_customer.ipynb'       SASRecModules.py
'H&M_EDA_transactions.ipynb'   SNQN_new.py
 NextItNetModules.py	       SNQN.py
 pop_dict.txt		       SNQN_RR_FeatureVec_new.py
 pop.py			       SNQN_RR_FeatureVec.py
 pre_processing.py	       utility.py
 __pycache__

In [ ]:
hm_df = pd.read_csv(os.path.join(PROJ_DIR,'transactions_train_small.csv')) #path named changed!

In [ ]:
hm_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2020-07-06,08034f513a8546bdb3596f5f7b6fac9d211bbfb93f275a...,843872002,0.016932,2
1,2020-07-06,08034f513a8546bdb3596f5f7b6fac9d211bbfb93f275a...,579541087,0.016932,2
2,2020-07-06,08034f513a8546bdb3596f5f7b6fac9d211bbfb93f275a...,870611003,0.033881,2
3,2020-07-06,08179d98b1e0af73ef3adf3c779ab8fde0e990f831e60b...,843642002,0.042356,1
4,2020-07-06,08179d98b1e0af73ef3adf3c779ab8fde0e990f831e60b...,649439006,0.022017,1

In [ ]:
hm_df.shape

(3134281, 5)

In [ ]:
hm_df.duplicated().sum()

2974905

In [ ]:
hm_df.nunique()

t_dat                   734
customer_id         1362281
article_id           104547
price                  9857
sales_channel_id          2
dtype: int64

In [ ]:
sorted_df = pd.read_csv(os.path.join(PROJ_DIR,'sorted_events.csv'))

In [ ]:
sorted_df.nunique()

t_dat              734
customer_id    1082032
article_id       96404
price             9842
is_buy               2
dtype: int64

In [ ]:
sorted_df.duplicated().sum()

2959533

In [ ]:
sorted_df.shape

(31363594, 5)

In [ ]:
sorted_df.duplicated().sum()

0

In [ ]:
sorted_df.shape

(28390487, 5)

In [ ]:
##hm_df.nunique()

t_dat                   734
customer_id         1362281
article_id           104547
price                  9857
sales_channel_id          2
dtype: int64

In [ ]:
train_sessions.nunique()

t_dat             734
customer_id    865625
article_id      96370
price            9454
is_buy              2
dtype: int64

In [ ]:
hm_df.isnull().sum()

In [ ]:
## No missing values

In [ ]:
hm_df['sales_channel_id'].value_counts()

In [ ]:
## beginning preprocessing

In [ ]:
num_of_rows = 5000000
transactions = pd.read_csv("transactions_train.csv", skiprows=range(1, 30654044 - num_of_rows))

In [ ]:
transactions.to_csv('transactions_train_small.csv', index = False)

In [ ]:
! python pre_processing.py --data='data'

2023-05-02 23:30:21.367041: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-02 23:30:24.215449: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Starting pre-processing of data
Completed data cleaning and generated sorted_events.csv file

Sampled the dataset for training and test


Script completed successfully!

In [ ]:
! python replay_buffer.py --data='data'

2023-05-02 23:31:38.954896: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-02 23:31:41.045089: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Generating replay_buffer from sorted_events
There are 390704 ids to process
100% 390704/390704 [07:01<00:00, 926.73it/s]
Generated the replay_buffer

Generated the data_statis.df


Script completed successfully!

In [ ]:
! python pop.py --data='data'

Calculating the item popularity

6.0
48.0
38.0
41.0
30.0
58.0
53.0
25.0
5.0
18.0
9.0
17.0
33.0
51.0
59.0
27.0
16.0
2.0
45.0
21.0
55.0
31.0
44.0
43.0
10.0
46.0
4.0
42.0
52.0
26.0
57.0
8.0
11.0
36.0
34.0
3.0
22.0
39.0
50.0
20.0
23.0
29.0
15.0
35.0
49.0
54.0
24.0
40.0
37.0
1.0
7.0
28.0
56.0
61.0
60.0

In [ ]:
sampled_train = pd.read_pickle(os.path.join(PROJ_DIR,'data/sampled_train.df'))

FileNotFoundError: ignored

In [ ]:
sampled_train.head()

               t_dat  customer_id  article_id     price  is_buy
4212358   2018-12-27            0       24797  0.044051       0
4212359   2018-12-27            0          89  0.035576       0
4212360   2018-12-27            0       25562  0.030492       0
9663224   2019-05-02            0       45078  0.010153       1
10754876  2019-05-25            0       13162  0.050831       1

In [ ]:
eval_sessions=pd.read_pickle(os.path.join('./data', 'sampled_val.df'))

In [ ]:
eval_sessions

              t_dat  customer_id  article_id     price  is_buy
3763242  2020-04-11            4        8774  0.008119       1
3763243  2020-04-11            4         553  0.013542       1
3763244  2020-04-11            4       14700  0.017610       1
3763245  2020-04-11            4          47  0.010831       1
3763246  2020-04-11            4       38303  0.013542       1
...             ...          ...         ...       ...     ...
7077487  2020-06-21       675148       40726  0.011847       1
7077488  2020-06-21       675148       41628  0.022017       1
7686162  2020-06-29       675148       34352  0.022017       1
7686163  2020-06-29       675148       32244  0.022017       1
7686164  2020-06-29       675148       32245  0.033881       1

[977776 rows x 5 columns]

In [ ]:
feature_matrix = pd.read_csv('data/features_matrix_rr.csv')

In [ ]:
feature_matrix = feature_matrix.reset_index()

In [ ]:
s_events = pd.read_pickle('data/sorted_events.df')

In [ ]:
feature_matrix_filtered = feature_matrix[feature_matrix['article_id'].isin(s_events.article_id.unique())]

In [ ]:
s_events.article_id.unique().min()

0

In [ ]:
feature_matrix_filtered = feature_matrix_filtered.drop(['index', 'article_id', 'prod_name'], axis = 1)

In [ ]:
feature_matrix_filtered.to_csv('feature_matrix_hm.csv', index = False)